---
import Layout from "../layouts/Layout.astro";
---

<Layout title="PHS Web Dev">
  <main class="max-w-screen-lg px-2 mx-auto">
    <section class="sm:mt-16 mt-8">
      <h1 class="sm:text-5xl text-4xl font-bold">Home</h1>
      <a
        href="/schedule"
        class="bg-neutral-800/25 p-4 shadow-md rounded-md sm:text-4xl text-6xl font-bold inline-block sm:w-auto w-full mt-3 text-center hover:bg-neutral-800/50 transition-all duration-200 ease-linear"
        >Schedule</a
      >
    </section>
  </main>
</Layout>
