---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="PHS Web Dev">
  <main class="mx-auto max-w-screen-md px-2 lg:max-w-screen-lg">
    <section class="mt-8 sm:mt-32">
      <div>
        <h1 class="text-3xl font-bold sm:text-5xl lg:text-7xl">
          Poolesville High School's
        </h1>
        <h1 class="text-2xl text-white/75 sm:text-4xl lg:text-6xl">
          Website Development Club
        </h1>
      </div>
      <div class="mt-5 flex sm:mt-8">
        <a
          class="flex items-center gap-4 rounded-md bg-neutral-800/25 px-4 py-2 text-3xl font-bold shadow-md transition-colors duration-200 ease-linear hover:bg-neutral-800/50"
          href="https://discord.gg/rWqEaqvnpf"
        >
          Join Now
          <Icon pack="ic" name="baseline-discord" class="w-7 h-7" />
        </a>
      </div>
    </section>
  </main>
</Layout>
