<nav class="w-screen bg-black/25 shadow-md">
  <div
    class="max-w-screen-lg px-2 mx-auto flex justify-between items-center h-16"
  >
    <a href="/" class="text-4xl bold">PHS Web Dev</a>
    <div class="flex gap-2">
      <a href="/schedule" class="text-xl">Schedule</a>
    </div>
  </div>
</nav>
