---
import { Icon } from "astro-icon";
import Switch from "./Switch.astro";
---

<settings-modal
  class="absolute top-0 left-0 z-50 h-screen w-screen overflow-hidden bg-black/50 justify-center items-center shadow-lg"
  style="display: none"
>
  <div class="relative mx-auto h-20 w-full max-w-screen-sm px-2">
    <div class="rounded-md bg-neutral-900 p-4">
      <div class="flex items-center justify-between">
        <h1 class="text-4xl font-bold">Settings</h1>
        <button
          aria-label="Close Settings Modal"
          class="rounded-md bg-neutral-800/25 p-2 shadow-md transition-colors duration-200 ease-in-out hover:bg-neutral-800/50"
          id="settingsModalCloseButton"
        >
          <Icon pack="mdi" name="close" class="text-white/75 w-7 h-7" />
        </button>
      </div>
      <div class="mt-5">
        <div class="flex justify-between">
          <h1 class="text-2xl text-white/75">Confetti Enabled</h1>
          <Switch setting="confetti" defaultValue={true} />
        </div>
      </div>
    </div>
  </div>
</settings-modal>

<script>
  class SettingsModal extends HTMLElement {
    constructor() {
      super();

      this.addEventListener("click", (e) => {
        if (e.target === this) {
          this.style.display = "none";
          document.body.style.overflow = "auto";
        }
      });

      const openButton = document.getElementById(
        "settingsModalOpenButton"
      ) as HTMLElement;

      openButton.addEventListener("click", () => {
        this.style.display = "flex";
        document.body.style.overflow = "hidden";
      });

      const closeButton = this.querySelector(
        "#settingsModalCloseButton"
      ) as HTMLElement;

      closeButton.addEventListener("click", () => {
        this.style.display = "none";
        document.body.style.overflow = "auto";
      });
    }
  }

  customElements.define("settings-modal", SettingsModal);
</script>
