---
import { Icon } from "astro-icon";
---

<settings-modal
  class="absolute top-0 left-0 z-50 h-screen w-screen overflow-hidden bg-black/50 justify-center items-center shadow-lg"
  style="display: none"
>
  <div class="relative mx-auto h-20 w-full max-w-screen-sm px-2">
    <div class="rounded-md bg-neutral-900 p-4">
      <div class="flex items-center justify-between">
        <h1 class="text-4xl font-bold">Settings</h1>
        <button
          class="rounded-md bg-neutral-800/25 p-2 shadow-md transition-all duration-200 ease-linear hover:bg-neutral-800/50"
          id="settingsModalCloseButton"
        >
          <Icon pack="mdi" name="close" class="text-white/75 w-7 h-7" />
        </button>
      </div>
      <div class="mt-5">
        <button
          id="secretButton"
          class="shadow-mdtransition-all w-full rounded-md bg-neutral-800/25 p-2 text-3xl font-bold duration-200 ease-linear hover:bg-neutral-800/50"
          >Secret</button
        >
      </div>
    </div>
  </div>
</settings-modal>

<script>
  class SettingsModal extends HTMLElement {
    constructor() {
      super();

      const openButton = document.getElementById(
        "settingsModalOpenButton"
      ) as HTMLElement;

      const closeButton = this.querySelector(
        "#settingsModalCloseButton"
      ) as HTMLElement;

      const secretButton = this.querySelector("#secretButton") as HTMLElement;

      secretButton.addEventListener("click", () => {
        window.jsConfetti.addConfetti();
      });

      closeButton.addEventListener("click", () => {
        this.style.display = "none";
        document.body.style.overflow = "auto";
      });

      openButton.addEventListener("click", () => {
        this.style.display = "flex";
        document.body.style.overflow = "hidden";
      });

      this.addEventListener("click", (e) => {
        if (e.target === this) {
          this.style.display = "none";
          document.body.style.overflow = "auto";
        }
      });
    }
  }

  customElements.define("settings-modal", SettingsModal);
</script>
