---
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Poolesville High School's Website Development Club Official Website"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#1B1B1B" />
    <link rel="apple-touch-icon" href="/favicon192.png" />
    <title>{title}</title>
    <script>
      // If LocalStorage is corrupted, clear it
      window.addEventListener("error", (e) => {
        if (
          e.message.includes("Unexpected token") &&
          e.message.includes("is not valid JSON")
        ) {
          localStorage.clear();
        }
        window.location.reload();
      });
    </script>
  </head>
  <body>
    <nav class="w-screen bg-neutral-800/25 shadow-md">
      <div
        class="mx-auto flex h-16 max-w-screen-md items-center justify-between px-2 lg:max-w-screen-lg"
      >
        <a href="/" class="text-3xl font-bold sm:text-4xl">PHS Web Dev</a>
        <div class="flex gap-2">
          <a href="/schedule" class="text-xl text-white/75">Schedule</a>
        </div>
      </div>
    </nav>
    <slot />
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/sw.js");
        });
      }
    </script>
  </body>
</html>
<style is:global>
  html {
    @apply bg-neutral-900 text-white;
    font-family: "Open Sans", sans-serif;
  }
</style>
